<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question {{ question.id }}</title>
</head>
<body>
    <h4>{{ title }}</h4>
    <p>{{ text }}</p>
    <div>Ответы</div>
    <ul>
        {% for i in answers %}
        <li>
            {{ i.text }}
        </li>
        {% endfor %}
    </ul>
    <form method="post" action="{{ question.get_url }}">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">Сохранить</button>
        </div>
    </form>
</body>
</html>